<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header class="header">
        <nav class="header_nav">
            <ul class="header_nav-ul">
                <li class="active"><a href="/" class="list_item">Home</a></li>
                <li><a href="/add-products" class="list_item">Add Product</a></li>
                <li><a href="/add-users" class="list_item">Add User</a></li>            
            </ul>
        </nav>
    </header>

    <main>
        <h1>Page Not Found!!</h1>
    </main>
</body>
</html>