/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/* Header styles */
.header {
    background-color: #f2f2f2;
    padding: 10px;
}

.header_nav-ul {
list-style-type: none;
display: flex;
justify-content: flex-start;
grid-gap: 20px;
}

main{
    padding: 0 20px;
}

.list_item {
    text-decoration: none;
    padding: 10px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

li a.active {
color: #fff;
background-color: #333;
border-radius: 2px;
text-decoration: none;
}

.list_item a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 2px;
}

a{
    color: #333;
    text-decoration: none;
    padding: 10px;
}

a:active{
    background-color: #333;
    color: #fff;
}

/* Main styles */

section{
    padding: 30px 0;
}

main {
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

article h1 {
    text-align: left;
}

.user_grid-container,.prod_grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}

img.user_avatar {border-radius: 50%;width: 100px;height: 100px;}

.user_card,.prod_card {
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px #0003;
    padding: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.user_details span,.prod_details span{
    display: block;
    overflow-wrap: break-word;
}

.user_name,.prod_name {
    font-size: 22px;
}

.user_status,.prod_status {
    text-decoration: underline;
}

.prod_price span{
    text-align: left;
}

.user_card button,.prod_card button {
    padding: 8px;
    border-radius: 2px;
    transition: all .75s;
}

.user_card button:hover,.prod_card button:hover {
    background: #333;
    color: #fff;
}

img.prod_avatar {
    width: 100%;
}
